.git
.gitignore
.idea
.vscode
.trae
.releaserc
.gitlab-ci.yml

node_modules
web/node_modules

web/dist
web/.vite
web/.cache

dist
tmp
logs
runtime

*.log
*.local
*.swp
*.swo

unimessage
unimessage-check
*.exe
*.out
